body{
    height: 100%;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-image: url(photos/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #333333
    ;
}
h1{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
.board {
    width: 451px;
    height: 233px;
    margin: 0 auto;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    justify-content: center;
    background: url("photos/brick.png");
    background-size: cover;
    position: relative;  
}

.hole {
    background: url("photos/hole.png");
    background-size: cover;  
    position: relative;
    width: 81px;  
    height: 69px;  
}

#start-button img {
    margin-top: 80px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#start-button img:hover {
    transform: scale(1.1); 
}
.timer{
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
}

.score{
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
}
.timescore {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 160px; 
    margin: 0 auto;
}
@media (max-width: 600px) {
    body{
        background-image: url(photos/bg-img-mob.jpg);
    }
    .board {
        margin-top: 100px;
        width: 338.5px; 
        height: 175px;
        flex-wrap: wrap; 
    }

    .hole {
        width: 61px; 
        height: 52px;
    }
    .timescore{
        display: flex;
        justify-content: center; 
        align-items: center; 
        gap: 80px; 
        margin: 0 auto;
    }
    .plant{
        width: 61px; 
        height: 52px;
    }

}
