html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-image: url(photos/bg-web.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #333333;
    padding: 30px;
}
h1{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}
.container {
    display: flex;
    flex-direction: column;
    border: solid #214924 6px;
    box-sizing: border-box;
    padding-top: 20px;
    height: calc(100% - 20px);
    align-items: center;

  }
* {
    box-sizing: border-box;
}
.board {
    width: 451px;
    height: 233px;
    margin: 0 auto;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    justify-content: center;
    background: url("photos/brick.png");
    background-size: cover;
    position: relative;  
}

.hole {
    background: url("photos/hole.png");
    background-size: cover;  
    position: relative;
    width: 81px;  
    height: 69px;  
}

#start-button img {
    margin-top: 80px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#start-button img:hover {
    transform: scale(1.1); 
}
.timer{
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
}

.score{
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
}
.timescore {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 160px; 
    margin: 0 auto;
}
#pattern{
    background: url(photos/pattern.png) repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
@media (max-width: 600px) {
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .board {
        margin-top: 100px;
        width: 270.8px; 
        height: 140px;
        flex-wrap: wrap; 
    }

    .hole {
        width: 48.8px; 
        height: 41.6px;
    }
    .timescore{
        display: flex;
        justify-content: center; 
        align-items: center; 
        gap: 60px; 
        margin: 0 auto;
    }
    .plant{
        width: 48.8px; 
        height: 41.6px;
    }
    .container {
        display: flex;
        flex-direction: column;
        border: solid #214924 6px;
        box-sizing: border-box;
        padding-top: 20px;
        height: calc(100% - 20px);
        align-items: center;
      }

    h1{
        font-size: 1.8rem;
    }  
}
